.abt-img{
    width: 25rem;
    height: auto;
}

.aboutus{
    margin-left: 7rem;
    margin-right: 7rem;
}

.main-sec{
    height:37.5rem;
}

.box{
   width: 25rem;
    height: 15rem;
    padding-left: 3rem;
}

.box-sec{
     font-size: 0.8rem;
}