.contact{
     margin-left: 7rem;
    margin-right: 7rem;
}

.contact-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.form-sec{
     min-width: '300px';
      max-width: '600px' ;
    }

.main{
    height: 22.3rem;
}

button {
  border-radius: 0 !important;
}

.btn-custom{
    height: 3rem;
}

@media(max-width: 640px){
    .contact{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    div.col-12{
        padding-left: 0 !important;
    }
}