.carousel-img{
    width: 100%;
    height: auto;
}

.img-div{
    width: 35rem;
}

.home{
        margin-left: 7rem;
    margin-right: 7rem;
}

.big-title{
    font-size: 2.5rem;
}

.policy-sec{
    padding: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-between;
}

.libre-baskerville-regular{
    font-family: "Libre Baskerville", serif;
     font-style: normal;
}

.input-group{
    height: 3rem;
    width: 30rem;
    font-size: 0.1rem;
}

.input-group input {
  font-size: 0.9rem;
}

#button-addon2{
    font-size: 0.6rem;
}

@media (max-width: 576px) {
    .home{
        margin-left: 3rem;
    margin-right: 3rem;
}
  .fs-5 {
    font-size: 0.25rem;
  }
  .big-title{
    font-size: 0.5rem;
}
}
